<!DOCTYPE html>
<html>
<%- include ('./component/index_head.ejs') %>
<body onload="initPage()">
<%- include ('./component/navbar.ejs') %>
<%- include ('./component/user-setting.ejs') %>

<div class="container my-5">
    <div class="row mb-3">
        <div class="col">
            <button type="button" class="btn btn-primary mr-2" id="create-btn" onclick="showCreate()">Create</button>
            <ul class="nav nav-tabs" id="myTab" >
                <li class="nav-item">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true" >By Date</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false" >By Location</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            <div class="row" id = "cardRow">
                <% byDate.forEach(function(data) { %>
                    <div class="col-md-4 home-page-sight-card" id="<%= data._id %>">
                        <a href="/sightDetails/<%= data._id %>" class="card-link home-page home-page-sight-card"
                           id="<%= data._id %>">
                            <div class="card mb-3">
                                <img src="uploads/<%= data.image %>" class="card-img-top" alt="" style="height: 250px; width: 100%">
                                <div class="card-body">
                                    <h5 class="card-title"><%= data.identification %></h5>
                                    <p class="card-id" style="display: none"><%= data._id %> </p>
                                    <p class="card-username"><%= data.user_name %> </p>
                                    <p class="card-date"> <%= data.date %></p>
                                </div>
                            </div>
                        </a>
                    </div>
                <% }); %>
            </div>
        </div>
        <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            <div class="row" id = "cardRow">
                <% byLocation.forEach(function(data) { %>
                    <div class="col-md-4 home-page-sight-card" id="<%= data._id %>">
                        <a href="/sightDetails/<%= data._id %>" class="card-link home-page home-page-sight-card"
                           id="<%= data._id %>">
                            <div class="card mb-3">
                                <img src="uploads/<%= data.image %>" class="card-img-top" alt="">
                                <div class="card-body">
                                    <h5 class="card-title"><%= data.identification %></h5>
                                    <p class="card-id" style="display: none"><%= data._id %> </p>
                                    <p class="card-username"><%= data.user_name %> </p>
                                    <p class="card-date"> <%= data.date %></p>
                                </div>
                            </div>
                        </a>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>
<div id="addSight" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">New Sighting</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        onclick="closeModal()"></button>
            </div>
            <form enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="col-form-label">Date:</label>
                        <input type="date" name="date" class="form-control" id="date">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Location:</label>
                        <input name="location" name="location" class="form-control" id="location">
                        <div id="map-container">
                            <label class="visually-hidden" for="map"></label>
                            <div id="map" style="height: 300px; width: 300px;"></div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Description:</label>
                        <input name="description" name="description" class="form-control" id="description">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Identification:</label>
                        <input name="identification" name="identification" class="form-control" id="identification">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Image:</label>
                        <input type="file" name="image" id="image" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="closeModal()">
                        Close
                    </button>
                    <button type="button" onclick="addSight()" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>