<!DOCTYPE html>
<html>
<head>
    <title>Details</title>
    <!--    <link rel='stylesheet' href='/stylesheets/style.css'/>-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script type="text/javascript" src="/javascripts/indexedDB.js"></script>
    <script type="text/javascript" src="/javascripts/apiRequest.js" defer></script>
    <script type="text/javascript" src="/javascripts/view/components.js" defer></script>
    <script type="text/javascript" src="/javascripts/view/details.js" defer></script>

</head>
<body onload="initPage()">
<%- include ('./component/navbar.ejs') %>
<%- include ('./component/user-setting.ejs') %>


<div class="card mb-3 h-auto" style="max-width: 100%;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="/uploads/<%= record.image %>" class="card-img" alt="Bird" height="300" width="150">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= record.identification %></h5>
                <p class="card-text">
                    <span class="datetime"><%= record.date %></span><br>
                    <span class="username"><%= record.user_name %></span>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="main">
    <div class="left">
        <table class="table table-borderless">
            <tbody>
            <tr>
                <th scope="row"><h4>Location:</h4></th>
                <td class="text-left">
                    <div><%= record.location %></div>
                </td>
            </tr>
            <tr>
                <th scope="row"><h4>Map:</h4></th>
                <td class="text-left">
                    <iframe id="iframe-record-map"
                            data-record-lat="<%= record.loc.lat %>"
                            data-record-lng="<%= record.loc.lng %>"
                            width="300"
                            height="300"
                            frameborder="0" style="border:0"
                            src=" " allowfullscreen>
                    </iframe>
                </td>
            </tr>
            <tr>
                <th scope="row"><h4>Describe:</h4></th>
                <td class="text-left"><%= record.description %></td>
            </tr>
            <tr>
                <th scope="row"><h4>Identification:</h4></th>
                <td class="text-left"><%= record.identification %></td>
            </tr>
            <tr>
                <th scope="row"><h4>Wiki:</h4></th>
                <td class="text-left"><%= record.wiki %></td>
            </tr>
            </tbody>
        </table>
    </div>


    <div class="right">
        <hr>
        <% for (let i = 0; i < messages.length; i++) { %>
            <div class="message">
                <div class="username"><%= messages[i].username %></div>
                <div class="datetime"><%= messages[i].date %></div>
                <div class="content"><%= messages[i].content %></div>
            </div>
        <% } %>
    </div>
</div>
</body>
</html>